<nav  class="navbar navbar-expand-lg navbar-light" style="background-color:skyblue;">
  <a  class="navbar-brand" href="/">
    <img  src="./assets/images/1.jpg"  style="width: 40px;">
  </a>
  <div class="md-form mt-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search">
  </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
      <ul class="navbar-nav"><li class="nav-item"><a href="/cart">
        <img src="./assets/images/2.png" style="width: 30px; margin-left: auto;">
        <i class="fa fa-shopping-cart">{{(cartItems$ | async).length}}</i>
        <!-- <span class="nav-link active">
          <span class="min fa-stack fa-2x has-badge" data-count="0">
            <i class="fa fa-shopping-cart fa-stack-1x"></i>
          </span>
        </span> -->
      </a>
    </li>
  </ul>
</div>
</nav>
<!-- <div *ngIf="product" class="products">
  <h2>{{product.name | uppercase}}</h2>
  <img src="{{product.photo}}"/>
  <div><span>Id: </span>{{product.id}}</div>
  <div><span>Name: </span>{{product.name}}</div>
  <div><span>Price: </span>{{product.price}}</div>
  <div>
    <button routerLink="/product" class="btn btn-light" style="background-color: #007bff;">Go back</button>
  </div>
</div> -->
<!-- <div class="container-fluid main-container">
  <div class="row col-12">
    <main class="col-12 col-md-12 col-xl-12 py-md-3 pl-md-5 bd-content"> -->
      <div>
        <!-- <div class="container"> -->
          <div class="card">
            <div class="container-fliud">
              <div class="wallpper row">
                <div class="tab-pane active" id="{{product.id}}">
                  <img src="{{product.photo}}" class="img-thumbnail" alt="img"/>
                  <h3 class="product-name">{{product.name}}</h3>
                  <h2 class="product-titel">{{product.price}}</h2>
                  <h3 class="product-price">{{product.category}}</h3>
                  <button routerLink="/cart" class="btn btn-light" style="background-color: #007bff;">Add Cart</button>
                  <button routerLink="/product" class="btn btn-light" style="background-color: #007bff;">Go Back</button>
                </div>
              </div>
            </div>
            <!-- <div class="product-details col-md-6">
              <h3 class="product-name">{{product.name}}</h3>
              <h2 class="product-titel">{{product.price}}</h2>
              <h4 class="product-price">{{product.category}}</h4>
              <div class="action">
                <button routerLink="/cart" class="btn btn-light" style="background-color: #007bff;">Add Cart</button>
                <button routerLink="/product" class="btn btn-light" style="background-color: #007bff;">Go Back</button>
              </div>
            </div> -->
          <!-- </div>
        </div>
      </div> -->
    <!-- </main>
  </div>

</div> -->
<!-- <div class="container-fluid main-container">
  <div class="row col-12">
  <main class="col-12 col-md-12 col-xl-12 py-md-3 pl-md-5 bd-content">
  <div>
  <div class="container">
  <div class="card">
  <div class="container-fliud">
  <div class="wrapper row">
  <div class="preview col-md-6">
  <div class="product-preview-pic tab-content">
  <div class="tab-pane active" id="pic-1">
  <img src="/static/media/appleIphoneXS.9ceb90d3.png" alt="1">
  </div>
  </div>
  </div>
  <div class="product-details col-md-6">
  <h3 class="product-title">Apple iPhone Xs Max</h3>
  <h3 class="product-title">Apple</h3>
  <p class="product-description">Facial Recognition, Fingerprint Scanner</p>
  <h4 class="price">current price: <i class="fa fa-usd"
  ></i> <span>99000 </span>
</h4><div class="action">
  <button class="btn btn-info" type="button" id="1">Add to cart</button>
  </div>
  <h3 class="product-title">Mobile</h3>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </main>
  </div>
  </div> -->
