<nav  class="navbar navbar-expand-lg navbar-light" style="background-color:skyblue;">
  <a  class="navbar-brand" href="/">
    <img  src="./assets/images/1.jpg"  style="width: 40px;">
  </a>
  <div class="md-form mt-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search">
  </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
      <ul class="navbar-nav"><li class="nav-item"><a href="/cart">
        <img src="./assets/images/2.png" style="width: 30px; margin-left: auto;">
        <i class="fa fa-shopping-cart">{{(cartItems$ | async).length}}</i>
        <!-- <span class="nav-link active">
          <span class="min fa-stack fa-2x has-badge" data-count="0">
            <i class="fa fa-shopping-cart fa-stack-1x"></i>
          </span>
        </span> -->
      </a>
    </li>
  </ul>
</div>
</nav>
<div>
  <!-- <div class="container"> -->
  <!-- <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <div class="container-fliud">
          <div class="wallpper row">
            <div class="tab-pane active" id="{{product.id}}">
            <img src="{{product.photo}}" class="img-thumbnail" alt="img"/>
            <h3 class="product-name">{{product.name}}</h3>
            <h2 class="product-titel">{{product.price}}</h2>
            <h3 class="product-price">{{product.category}}</h3>
            <button routerLink="/cart" class="btn btn-light" style="background-color: #007bff;">Remove</button>
            <button routerLink="/product" class="btn btn-light" style="background-color: #007bff;">Go Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
