<app-header></app-header>
<!-- <div> -->
  <!-- <div class="container"> -->
  <!-- <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <div class="container-fliud">
          <div class="wallpper row">
            <div class="tab-pane active" id="{{product.id}}">
            <img src="{{product.photo}}" class="img-thumbnail" alt="img"/>
            <h3 class="product-name">{{product.name}}</h3>
            <h2 class="product-titel">{{product.price}}</h2>
            <h3 class="product-price">{{product.category}}</h3>
            <button routerLink="/cart" class="btn btn-light" style="background-color: #007bff;">Remove</button>
            <button routerLink="/product" class="btn btn-light" style="background-color: #007bff;">Go Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
