<nav  class="navbar navbar-expand-lg navbar-light" style="background-color:skyblue;">
  <a  class="navbar-brand" href="/">
    <img  src="./assets/images/1.jpg"  style="width: 40px;">
  </a>
  <div class="md-form mt-0">
    <input class="form-control mr-sm-2" type="search" ngModel="searchText" autocomplete="off" placeholder="Search">
  </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
      <ul class="navbar-nav"><li class="nav-item"><a href="/cart">
        <img src="./assets/images/2.png" style="width: 30px; margin-left: auto;">
        <!-- <span class="nav-link active">
          <span class="min fa-stack fa-2x has-badge" data-count="0">
            <i class="fa fa-shopping-cart fa-stack-1x"></i>
          </span>
        </span> -->
      </a>
    </li>
  </ul>
</div>
</nav>
