
<nav  class="navbar navbar-expand-lg navbar-light" style="background-color:skyblue;">
  <a  class="navbar-brand" href="/">
    <img  src="./assets/images/1.jpg"  style="width: 40px;">
  </a>
  <div class="md-form mt-0">
    <input class="form-control mr-sm-2" type="search" ngModel="searchText" autocomplete="off" placeholder="Search">
  </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/cart">
        <img src="./assets/images/2.png" style="width: 30px; margin-left: auto;">
        <i class="fa fa-shopping-cart">{{(cartItems$ | async).length}}</i>
        <!-- <span class="nav-link active">
          <span class="min fa-stack fa-2x has-badge" data-count="0">
            <i class="fa fa-shopping-cart fa-stack-1x"></i>
          </span>
        </span> -->
      </a>
    </li>
  </ul>
</div>
</nav>
 <div class="container-fluid main-container">
   <div class="row col-12">
     <main class="col-12 col-md-12 col-xl-12 py-md-3 pl-md-5 bd-content">
       <div>
         <div class="testClass">
           <div class="form-group col-md-3" id="productListSort">
             <label for="Sort By">Sort By</label>
               <select (change)="getSort($event.target.value)" class="form-control" options="" id="productListSortBy">
                <option value="name">Name</option>
                <option value="price">Price</option>
                <option value="category">Category</option>
              </select>
             </div>
              <div class="row">
                <div class="col-sm-3" *ngFor="let Product of products let i=index">
                  <div class="card">
                   <div class="card-body">
                     <a [routerLink]="['/item']" [queryParams]="{ id: Product.id }">
                       <div>
                        <img src="{{Product.photo}}" class="img-thumbnail" alt="img" />
                          <h5 class="card-title">{{Product.name}}</h5>
                          <h5 class="Price">{{Product.price}}</h5>
                        </div>
                       </a>
                       <button class="btn btn-info" [routerLink]="['/cart']" type="button" [queryParams]="{ id: Product.id}" id="{{Product.id}}" >Add to Cart</button>
                     </div>
                     <!-- <i class="fa fa-shopping-cart">{{(cartItems$ | async).length}}</i> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
     </main>
   </div>
 </div>





